<header>
  <div class="nav">
    <nav>
      <ul class="list-item">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/add-product">Add product</a></li>
        <li class="item"><a href="/admin">Admin</a></li>
      </ul>
    </nav>
  </div>
</header>
