<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/form.css" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <title><%= title %></title>
  </head>
  <%- include('includes/nav.ejs') %>
  <body>
    <div class="container">
      <form action="/add-product" method="POST">
        <div class="input-group" style="height: 40px;">
          <input type="text" name="title" placeholder="Add a product" />
          <button class="btn-my">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
